<div class="Promotion-page">
    <div class="page-width">
        <div class="page-title">
            <h1>Active Promotions and Special offers</h1>
        </div>
        <div class="tabs">
            <ul id="tabs-nav">
                <li><a href="#tab1">Promo 1</a></li>
                <li><a href="#tab2">Promo 2</a></li>
             </ul> <!-- END tabs-nav -->
            <div id="tabs-content">
                <div id="tab1" class="tab-content">
                    <div class="accordion-container">
                        <h2>Promotional Text:	Explore the Latest Addition to Our Product Portfolio – Enjoy 10% Off.</h2>
                        <h4> Until 12:00 AM on 4/30/2025!</h4>
                       <h4>Item REF: BB-AN9500</h4>
                        <h3><a href="https://bigbenmedical.com/products/bag-b-braun-iv-injection-solution-sodium-chloride-0-9-copy-1?_pos=1&_sid=8647dc56c&_ss=r&variant=41541365727287">Order Now From Here </a></h3>
                        <div class="product-card">
                            <a href="https://bigbenmedical.com/products/bag-b-braun-iv-injection-solution-sodium-chloride-0-9-copy-1?_pos=1&_sid=8647dc56c&_ss=r&variant=41541365727287" target="_blank">
                                <img src="https://bigbenmedical.com/cdn/shop/files/Item9120-SterileSaline-120ml.jpg?v=1742989333&width=823" alt="Healgen Combo Rapid Test">
                                <h3>Product Name:	(Case) Anexa USP Sterile Normal Saline, Irrigation Solution, 500mL, Screw Top Pour Bottle (USA), 18/Ca</h3>
                                <p class="price">$41.00</p> <!-- ضع السعر الفعلي هنا -->
                                <button class="buy-button">Order Now</button>
                            </a>
                        </div>
                    </div>
                </div>
                    <!--tab end here -->
                    <div id="tab2" class="tab-content">
                        <div class="accordion-container">
                            <h2>Explore the Latest Addition to Our Product Portfolio – Enjoy 10% Off .</h2>
                            <h4>Until 12:00 AM on 4/30/2025!</h4>
                       <h4>Item REF: BB-25NU1</h4>

                          <h3><a href="https://bigbenmedical.com/products/case-anexa-usp-sterile-normal-saline-irrigation-solution-for-wound-and-device-cleaning-solutions-copy">Order Now From Here </a></h3>
                            <div class="product-card">
                                <a href="https://bigbenmedical.com/products/case-anexa-usp-sterile-normal-saline-irrigation-solution-for-wound-and-device-cleaning-solutions-copy" target="_blank">
                                    <img src="https://bigbenmedical.com/cdn/shop/files/Item8100-SterileWater-100ml.jpg?v=1742989455&width=823" alt="(Case) Anexa USP Sterile Water, Irrigation Solution, 500mL, Screw Top Pour Bottle (USA), 18/Ca">
                                    <h3>(Case) Anexa USP Sterile Water, Irrigation Solution, 500mL, Screw Top Pour Bottle (USA), 18/Ca</h3>
                                    <p class="price">$40.00</p> <!-- ضع السعر الفعلي هنا -->
                                    <button class="buy-button">Order Now</button>
                                </a>
                                <!-- <div class="set">
                                  <a href="#">
                                    Why do we use it?
                                    <svg fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  	 viewBox="0 0 330 330" xml:space="preserve"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 	c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 	s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/> </svg>
                                  </a>
                                  <div class="content">
                                    <h3><a href="">Where does it come from?</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                    <div class="PDF_link">
                                      <a href=""><img src="https://cdn.shopify.com/s/files/1/0584/2167/4039/files/pdficon.webp?v=1735981282" atl="PDF file">
                                      <strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong></a>
                                    </div>
                                    <div class="prom_exp">
                                      Promotion expires ..........
                                    </div>
                                  </div>
                                </div> -->
                                <!-- <div class="set">
                                  <a href="#">
                                    Why do we use it?
                                    <svg fill="#000000" height="800px" width="800px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  	 viewBox="0 0 330 330" xml:space="preserve"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 	c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 	s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"/> </svg>
                                  </a>
                                  <div class="content">
                                    <h3><a href="">Where does it come from?</a></h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                    <div class="PDF_link">
                                      <a href=""><img src="https://cdn.shopify.com/s/files/1/0584/2167/4039/files/pdficon.webp?v=1735981282" atl="PDF file">
                                      <strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong></a>
                                    </div>
                                    <div class="prom_exp">
                                      Promotion expires ..........
                                    </div>
                                  </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    </div> <!-- END tabs-content -->
                </div> <!-- END tabs -->
            </div>
        </div>
        </div>

        <style>
            .product-card {
                border: 1px solid #ddd;
                border-radius: 10px;
                padding: 15px;
                text-align: center;
                width: 250px;
                margin: 20px auto;
                background-color: #fff;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .product-card img {
                width: 100%;
                border-radius: 8px;
            }

            .product-card h3 {
                font-size: 16px;
                margin: 10px 0;
                color: #333;
            }

            .product-card .price {
                font-size: 18px;
                color: #e60000;
                font-weight: bold;
            }

            .buy-button {
                display: block;
                width: 100%;
                background-color: #007bff;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                margin-top: 10px;
            }

            .buy-button:hover {
                background-color: #0056b3;
            }

        </style>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>
            // Show the first tab and hide the rest
            $('#tabs-nav li:first-child').addClass('active');
            $('.tab-content').hide();
            $('.tab-content:first').show();

            // Click function
            $('#tabs-nav li').click(function(){
                $('#tabs-nav li').removeClass('active');
                $(this).addClass('active');
                $('.tab-content').hide();

                var activeTab = $(this).find('a').attr('href');
                $(activeTab).fadeIn();
                return false;
            });


            $(document).ready(function() {
                $(".set > a").on("click", function() {
                    if ($(this).hasClass("active")) {
                        $(this).removeClass("active");
                        $(this)
                            .siblings(".content")
                            .slideUp(200);
                        $(".set > a i")
                            .removeClass("fa-minus")
                            .addClass("fa-plus");
                    } else {
                        $(".set > a i")
                            .removeClass("fa-minus")
                            .addClass("fa-plus");
                        $(this)
                            .find("i")
                            .removeClass("fa-plus")
                            .addClass("fa-minus");
                        $(".set > a").removeClass("active");
                        $(this).addClass("active");
                        $(".content").slideUp(200);
                        $(this)
                            .siblings(".content")
                            .slideDown(200);
                    }
                });
            });

        </script>
